*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --baseline: 1.5rem;
}



html {
    scroll-behavior: smooth;
    display: block;
}

select, h1 {
    margin: calc(1*(var(--baseline))) 0;
}

.select-box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}



select {
    width: calc(10*(var(--baseline)));
    height: calc(1.5*(var(--baseline)));
    padding: 0 calc(0.5*(var(--baseline)));
    background-color: white !important;
    border-radius: 4px;
    cursor: pointer;
}
option {
    background-color: white;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    background: rgb(242,215,50);
    background: linear-gradient(326deg, rgba(242,215,50,1) 34%, rgba(89,221,77,1) 100%);
}

.main {
    min-height: 100vh;
}



.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: calc(6*var(--baseline));
}

#second,
#third {
    display: none;
}